<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiB1ChDrxSE9WIOhBmQIlnnlw2CfLX1Dc">
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </head>
  <body>
<div id="map-canvas" style="height: 500px; width: 500px;"></div><br/>
City/State/Country: <input type="text" name="city" id="city"/><br/>
Name: <input type="text" name="name" id="name"/><br/>
<button id="doit" onClick="addRecord()">Add Pin</button>
<br/>
We are reporting a total of {{ reporting }} people here.
  </body>
</html>

